

.productCardWrapper{
  width: 100%;
  position: relative;
}
.productCard{
  cursor: pointer;
}

.productBtn{
  width: 100px;
  background-color: red;
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%,-50%);
  opacity: 0;
    transform: translateY(30px);
    transition: all .2s ease-in-out;
}

.productBtn a{
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  display: block;
  transition: all 2s ease-in-out;
}

  .productCard:hover .productBtn{
    opacity: 1;
    transform: translateY(0px);
    transition: all .2s ease-in-out;
  }
   





























/* 
.aboutBookNowButton {
  width: 200px;
  background-color: #051145;
  padding: 10px;
  position: relative;
  cursor: pointer;
  border: solid 1px red;
}

.aboutBnBChildOne {
  width: 100%;
  height: 100%;
  background-color: #1b7261;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}

.aboutBnBChildTwo {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 8px;
  border: solid 2px #213f37;
  z-index: -1;
}

.aboutBookNowButton:hover .aboutBnBChildOne {
  width: 0%;
  cursor: pointer;
}

.aboutBookNowButton:hover .aboutBnBChildTwo {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
} */
